
body {
    background-color:indianred;
}

h1 {
    font-family: helvetica;

}

.title {
    text-align: center;
    background-color: rgba(76, 76, 76, 0.6);
}

.content {
    width: 100%;
}

.data {
    border: 1px;
}

.tableData {
    width: 200px;
}

.wall {
    width: 20%;
}
